TZ=Africa/Porto-Novo
HOST=app.facturation.test
LLDAP_HOST=admin.facturation.test
TRAEFIK_HOST=traefik.facturation.test

LLDAP_JWT_SECRET=replace-this-with-openssl-rand-hex-32-lldap-jwt-secret
LLDAP_KEY_SEED=replace-this-with-openssl-rand-hex-32-lldap-key-seed
LLDAP_LDAP_BASE_DN=dc=facturation,dc=test
LLDAP_LDAP_USER_EMAIL=admin@facturation.test
LLDAP_LDAP_USER_PASS=admin123

AUTHELIA_JWT_SECRET=replace-this-with-openssl-rand-hex-32-authelia-jwt-secret
AUTHELIA_SESSION_SECRET=replace-this-with-openssl-rand-hex-32-session-secret
AUTHELIA_STORAGE_ENCRYPTION_KEY=replace-this-with-openssl-rand-hex-32-storage-key
AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET=replace-this-with-openssl-rand-hex-32-reset-secret
