ORDER_SERVICE_URL=http://localhost:3005
CLIENT_SERVICE_URL=http://localhost:3002
PRODUCT_SERVICE_URL=http://localhost:3003
INVOICE_SERVICE_URL=http://localhost:3006
REGLEMENT_SERVICE_URL=http://localhost:3007
CASH_REGISTER_SERVICE_URL=http://localhost:3008
WAREHOUSE_SERVICE_URL=http://localhost:3009
