ORDER_SERVICE_URL=http://localhost:3005
CLIENT_SERVICE_URL=http://localhost:3002
PRODUCT_SERVICE_URL=http://localhost:3003
STOCK_SERVICE_URL=http://localhost:3004
INVOICE_SERVICE_URL=http://localhost:3006
